/* Responsive design */
@media (max-width : 1023px) {
    .corpus-index {
        margin: 0 8px 0 8px;
    }
    .doclist {
        margin-bottom: 20px;
    }
    .documents{
        padding-left: 10px;
    }
    .documents .label,
    .search-panel,
    .browse aside,
    .documents img,
    .documents svg,
    .documents .thumbnail {
        display: none;
    }
    .toolbar pb-search {
        padding-left: 0;
    }
    
    app-header-layout {
        background-repeat: no-repeat;
    }
    
    .document-info > header > div {
        display: flex !important;
        flex-direction: column;
    }
    
    #document-list,
    .search-page_main #results {
        border-left: none !important;
        padding-left: 0 !important;
    }
    
    #document-list {
        margin-left: 0 !important;
    }
}

@media (min-width : 1024px) {
    .toolbar {
        display: none;
    }
}

@media (max-width : 769px) {
    pb-tify,
    pb-facsimile {
        display: none;
    }
}

/* index.html */
.corpus-index {
    margin: 0 20px 0 20px;
    padding-top: 20px;
}

/*.corpus-index pb-search {
    display: none;
}*/

.tp-title {
    font-family: var(--pb-heading-font-family);
    font-size: 36px;
    font-weight: 400;
}

.tp-title span {
    color: #9e9e9e;
    font-size: 26px;
    margin-top: 12px;
}

.panels {
    margin-bottom: 40px;
}

.panels .doclist .card-content {
    padding: 0;
}

.panels .doclist .browse {
    display: grid;
    grid-template-columns: 25% 1fr;
    column-gap: 16px;
    padding: 0;
}

.panels .doclist dts-client {
    padding: 0 20px;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
}

aside .upload {
    margin-bottom: 20px;
    width: 100%;
}

.browse aside {
    padding: 0 10px;
    font-family: var(--pb-base-font-family) !important;
}

.card-content aside pb-search {
    --pb-search-label-color: black;
}

pb-select {
    margin-top: 0;
}

#document-list {
    margin-top: 1rem;
    margin-left: 4%;
    border-left: 1px solid var(--pb-color-red);
    padding-left: 4%;
}

.collection {
    margin-top: 8px;
    padding-top: 12px;
    /* border-top: thin solid var(--paper-grey-300); */
}

/*.documents img, .documents svg {
            margin-right: 40px;
        }*/

.documents {
    padding-inline-start: 10px;
}

.documents ul {
    list-style: none;
}

.documents div {
    margin-bottom: 4px;
}

.documents .error {
    color: #c02020;
}

.documents li {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    padding: 6px 6px;
    box-shadow: 1px 1px 2px #888;
    font-family: var(--pb-base-font-family);
}

.documents li:last-child {
    border: none;
}

.documents .document-select {
    flex: 0 0;
    margin-right: 20px;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: center;
    min-height: 15vh;
    width: 100%;
}

.document-info > header > div {
    display: grid;
    grid-template-columns: auto auto;
}

.document-info .thumbnail {
    grid-row: 1/5;
    margin: 5px 20px 0 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 0 5px;
}

.document-info .thumbnail:hover {
    border: 1px solid #b4b4b4;
}

pb-custom-form > div {
    margin-bottom: 1em;
}

/* Toolbar */
.toolbar {
    background-color: white;
    color: var(--pb-toolbar-color);
    /*margin-bottom: 2em;*/
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

/*.toolbar a {
    color: inherit;
    text-decoration: none;
}*/

[drawer-toggle] {
    padding-right: 0;
}

.toolbar_title {
    height: 3.3em;
}

.toolbar_title #title-view1 {
    font-family: var(--pb-base-font-family);
    max-width: none;
    margin: 0;
}

#citationToggle,
#metadataToggle,
#annotationToggle,
#mirador,
#biblioToggle {
    background-color: var(--pb-color-red);
    color: white;
}

#metadataToggle {
    margin-left: 0;
}

#citationToggle:hover,
#metadataToggle:hover,
#annotationToggle:hover,
#mirador:hover,
#biblioToggle:hover {
    background-color: var(--pb-color-green);
}

pb-drawer {
    top: 214px;
    background-color: white;
    border: 1px solid var(--pb-color-red);
    overflow: auto;
    height: calc(100vh - 210px);
}

pb-drawer #infos {
    margin: 0;
    font-family: var(--pb-base-font-family);
    font-size: var(--pb-base-font-size);
}

/* Page ed-critique.html */
.metadata-edcrit h1 {
    font-size: 1em;
    margin-bottom: 0;
}

.metadata-edcrit ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

#footnotes {
    margin-top: 5em;
    font-size: small;
}

/* Page Corpus.html */
.page_corpus {
    --pb-view-height: calc(100vh - 230px);
    /*margin-top: 3em;*/
}

.page_corpus #view1 {
    flex: 1 1;
    height: var(--pb-view-height);
    overflow: auto;
}

.page_corpus .content-body {
    /*position: relative;*/
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.content-body pb-tify {
    flex: 1 1;
    --pb-facsimile-height: var(--pb-view-height);
    margin-left: 2%;
    padding-left: 2%;
    border-left: 1px solid var(--pb-color-red);
}

.content-body pb-facsimile {
    flex: 0.6 1;
    --pb-facsimile-height: var(--pb-view-height);
    margin-left: 2%;
    padding-left: 2%;
    border-left: 1px solid var(--pb-color-red);
}

.tei-ab {
    margin: 0;
}

.page_corpus .navigation_chevron {
    margin-top: calc(var(--pb-view-height)/2);
    width: 30px;
    height: 30px;
    padding: 2px;
}

.drawer-content h2 {
    font-size: 1.2em;
}

.citations h3 {
    font-size: 1em;
    margin-bottom: 0;
}

.citations div {
    margin-bottom: 1em;
    width: 95%;
}

.listResp {
    list-style-type: none;
    padding: 0 16px;
}

.listResp li {
    margin-bottom: 5px;
}