/* Responsive design */
@media screen and (max-width: 1000px) {
    .page-illustration  main section:first-child {
        display: none;
    }
    
    .page-illustration__content-body {
        justify-content: normal;
        flex-direction : column-reverse;
    }
    
    .page-illustration__img {
        padding-left: 0 !important;
    }
    
    .page-illustration__img img {
        width: 260px;
        height: 401px;
    }
    
    #page-illustration__view1 {
        height: 100%;
        width: 100% !important;
        border-right: none !important;
        margin: 1em 0;
    }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
    .page-illustration__img img {
        width: 300px;
        height: 500px;
    }
    
    .img-pop-up {
        width: 350px;
    }
}

@media screen and (min-width: 2000px) {
    .section_faits {
        width: 57%;
        margin: 0 auto;
    }
}

/* index-gravures.html */
.index-gravures {
    margin: 0 20px;
    --pb-browse-toolbar-justify-content: space-between;
}

.index-gravures h1 {
    text-align: center;
    font-family: var(--pb-cursive-font-family);
}

.index-gravures__column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    width: 85%;
    margin: 0 auto;
}

.index-gravures__container {
    position: relative;
    margin-bottom: 1em;
    vertical-align: middle;
}

.index-gravures__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #6A1D44;
    cursor: pointer;
}

.index-gravures__container:hover .index-gravures__overlay {
    opacity: 0.90;
}

.index-gravures__text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
}

/* Page gravures.html */
.page-illustration {
    --pb-view-height: calc(100vh - 212px);
}

.page-illustration section {
    margin-bottom: 3%;
}

.page-illustration__content-body {
    display: flex;
    justify-content: space-around;
    padding: 0 2em;
    margin: 0 auto;
}

#page-illustration__view1 {
    flex: 0 auto;
    /*height: var(--pb-view-height);*/
    border-right: 1px solid var(--pb-color-red);
    padding-right: 1.5em;
    width: 45%;
    font-family: var(--pb-base-font-family);
    font-size: var(--pb-base-font-size);
}

.page-illustration__img {
    /*flex: 0.5 auto;*/
    padding-left: 1.5em;
}

.page-illustration__titre {
    margin-left: 6%;
    margin-bottom: 1%;
    font-size: 20px;
}

.image-container {
    position: relative;
}

.page-illustration__helpIcon {
    color: var(--pb-color-red);
    cursor: help;
}

.description_engraving title {
    display: inline;
    font-style: italic;
}

/* Loupe */
.magnifier-glass {
    position: absolute;
    border: 2px solid #333;
    border-radius: 50%;
    cursor: none;
    width: 100px;
    height: 100px;
    opacity: 0;
}

.image-container:hover .magnifier-glass {
    opacity: 1;
}

/* Image gallery */
.carousel {
    position: relative;
    background-color: #c29eac;
    padding: 0 3em;
}

.img-container {
    display: flex;
    width: 950px;
    position: relative;
    left: 0;
}

.to-scroll {
    overflow: auto;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
    scrollbar-width: none;
}

.not-to-scroll {
    position: relative;
    width: 98%;
    margin: 0 auto;
}

.one-img,
.faits-img {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-img {
    min-width: 165px;
    padding: 5px 5px;
    margin: 10px 0;
    border-right: 1px solid #cfb1bc;
}

.one-img:last-child {
    border-right: none;
}

.one-img:hover {
    background-color: #cfb1bc;
    cursor: pointer;
}

.faits-img + .one-img {
    border-left: 1px solid #cfb1bc;
}

.faits-img {
    min-width: 139px;
    border: 5px solid var(--pb-color-inverse);
    margin: 10px;
}

.faits-img > img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
}

.arrow {
    position: absolute;
    top: 44%;
}

.right {
    left: 96.5%;
}

.left {
    left: 1.5%;
}

/* Pop-up */
.pop-up-content, #pop-up-container {
    display: none;
}

.img-pop-up,
.text-pop-up {
    margin: 2%;
}

.text-pop-up {
    padding-right: 1em;
}

.text-pop-up p.bold {
    margin-bottom: 0.2em;
}

.text-pop-up p.bold + p {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.text-pop-up ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.img-pop-up {
    display: block;
    max-width: 460px;
    height: fit-content;
    margin: 1em auto;
}

/* Fade Overlay */
/*.overlay-gravure {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--pb-color-red);
    cursor: pointer;
}

.one-img:hover .overlay-gravure {
    opacity: 1;
}

.text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}*/