/* Accueil */
@media screen and (max-width: 768px) {
    .hero-text {
        width: 90%;
    }
    
    .homepage .columns {
        flex-direction: column;
    }
    
    .homepage .column-text {
        margin-right: 0;
        text-align: justify;
        margin-bottom: 6%;
    }
}

.hero-image {
    height: 300px;
    background-image: linear-gradient(rgba(5, 5, 5, 0.6), rgba(5, 5, 5, 0.5)), url("../images/static/accueil_banniere2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    font-family: var(--pb-serif-font-family);
    font-size: 2.8em;
    line-height: 1;
    margin: 0;
}

.hero-text h2 {
    margin-top: 0;
    font-weight: normal;
    font-style: italic;
}

.homepage .columns {
    display: flex;
    width: 90%;
    margin: 1% auto;
}

.homepage .column-text {
    margin-right: 4%;
    text-align: justify;
}

.homepage .column-text:last-child {
    margin-right: 0;
}

.homepage .column-text h3 {
    color: var(--pb-color-red);
    border-bottom: 1px solid var(--pb-color-red);
    margin-bottom: 0;
    padding-bottom: 1%;
}

.column-text a {
    display: block;
    text-align: center;
}

/* Pages statiques */
.content-static-view, #breadcrumb-view1 {
    font-family: var(--pb-base-font-family);
    font-size: var(--pb-base-font-size);
}

.content-static-view {
    width: 70%;
    margin: 0 auto;
}

.breadcrumb_corpus {
    display: flex;
    height: 30px;
}

#breadcrumb-view1 {
    margin: 0 0.2em;
}