/* Accueil */
@media screen and (max-width: 768px) {
    .hero-text {
        width: 90%;
    }
    
    .homepage .columns {
        flex-direction: column;
    }
    
    .homepage .column-text {
        margin-right: 0;
        text-align: justify;
        margin-bottom: 6%;
    }
    
    .img_right {
        display: none;
    }
    
    h1, h2 {
        text-align: center;
    }
}

.hero-image {
    height: 300px;
    background-image: linear-gradient(rgba(5, 5, 5, 0.6), rgba(5, 5, 5, 0.5)), url("../images/static/accueil_banniere2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    font-family: var(--pb-serif-font-family);
    font-size: 2.8em;
    line-height: 1;
    margin: 0;
}

.hero-text h2 {
    margin-top: 0;
    font-weight: normal;
    font-style: italic;
}

.homepage .columns {
    display: flex;
    width: 90%;
    margin: 1% auto;
}

.homepage .column-text {
    margin-right: 4%;
    text-align: justify;
    flex: 1 1;
}

.homepage .column-text:last-child {
    margin-right: 0;
}

.homepage .column-text h3 {
    color: var(--pb-color-red);
    border-bottom: 1px solid var(--pb-color-red);
    margin-bottom: 0;
    padding-bottom: 1%;
}

.column-text a {
    display: block;
    text-align: center;
}

/* Pages statiques */
.content-static-view, #breadcrumb-view1 {
    font-family: var(--pb-base-font-family);
    font-size: var(--pb-base-font-size);
}

.content-static-view h1 {
    font-family: var(--pb-cursive-font-family);
    /*margin-top: 0.1em;*/
}

.content-static-view h2 {
    margin-bottom: 0.3em;
}

.content-static-view {
    width: 72%;
    margin: 0 auto;
}

.content-static-view ul {
    margin-top: 0;
}

.content-static-view ul li {
    margin-bottom: 0.5em;
}

.breadcrumb_corpus {
    display: flex;
    height: 30px;
}

#breadcrumb-view1 {
    margin: 0.3em;
}

.img_center {
    display: block;
    margin: 0 auto;
}

.img_right {
    float: right;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.img_left {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

/* equipe.html */
.photo-lignes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-lignes div {
    margin-right: 5%;
    margin-bottom: 5%;
}

.photo {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

.photo-lignes p {
    text-align: center;
}



