<html lang="fr">
    
    <head>
        <meta charset="utf-8"/>
        <title>Activités • SETAF</title>
        <meta name="description" content="Présentation des activités et événements organisés par l'équipe du projet SETAF durant la durée du projet."/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="resources/images/favicons/apple-touch-icon.png"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-16x16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-32x32.png" sizes="32x32"/>
        <link rel="manifest" href="resources/images/favicons/site.webmanifest"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicons/favicon.ico"/>
        <!-- CSS & scripts -->
        <link rel="stylesheet" href="resources/css/setaf_theme.css"/>
        <link rel="stylesheet" href="resources/css/static.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    </head>
    
    <body>
        <pb-page data-template="pages:pb-page" api-version="1.0" unresolved="unresolved" theme="resources/css/components.css" locales="resources/i18n/{{ns}}/{{lng}}.json">
            <app-drawer-layout force-narrow="force-narrow">
                
                <app-drawer slot="drawer" align="right">
                    <div class="drawer-content">
                        <pb-media-query query="(max-width: 1023px)">
                            <div data-template="lib:include" data-template-path="templates/menu-drawer.html"/>
                        </pb-media-query>
                    </div>
                </app-drawer>
                
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                    </app-header>
                    
                    <section class="breadcrumb_corpus">
                        <span class="breadcrumb"><a href="${app}/accueil.html"><pb-i18n key="pages.home">Accueil</pb-i18n></a> &gt; <pb-i18n key="pages.project-events">Activités</pb-i18n></span>
                    </section>
                    
                    <main class="main-static content-static-view">
                        
                        <h1><pb-i18n key="pages.project-events">Activités</pb-i18n></h1>
                                                
                        <h2 class="subtitle_date">2024/2025</h2>
                        <ul>
                            <li><a href="https://www.unige.ch/ihr/fr/accueil/evenements-passes/2023-2024-2/journees-etude-setaf-20250206-07/" rel="noreferrer" target="_blank">Journées d'étude SETAF, 6-7 février 2025</a> : Interroger les <i>Faits de Jésus Christ et du pape</i> : thèmes et représentations</li>
                            <li><a href="https://bvh.hypotheses.org/11637" rel="noreferrer" target="_blank">Journée d'étude en collaboration avec le CESR de Tours, 15 novembre 2024</a> : Autour des écritures anonymes à caractère biographique </li>
                        </ul>
                        
                        <h2 class="subtitle_date">2023/2024</h2>
                        <ul>
                            <li><a href="https://www.unige.ch/ihr/fr/accueil/evenements-passes/2023-2024/seminaire-projet-fns-setaf-09022024/" rel="noreferrer" target="_blank">Séminaire SETAF, 9 février 2024</a> : Océriser un corpus en caractères gothiques : défis, outils et premiers résultats</li>
                            <li><a href="https://www.unige.ch/ihr/fr/accueil/evenements-passes/2023-2024/cycle-seminaires-projet-setaf/">Cycle de séminaires SETAF, automne 2023</a> : Établir un corpus : définitions, usages et terrains de recherche</li>
                        </ul>
                        
                        <h2 class="subtitle_date">2022/2023</h2>
                        <ul>
                            <li><a href="https://www.unige.ch/ihr/fr/accueil/evenements-passes/2022-2023/journees-detude-ihr-3-4-novembre-20221/" rel="noreferrer" target="_blank">Journées d'étude SETAF, 8-9 décembre 2022</a> : Mettre en œuvre : actions et représentations du «  groupe  »  au temps de la Réforme</li>
                            <li><a href="https://www.unige.ch/ihr/fr/accueil/evenements-passes/2022-2023/journees-detude-ihr-3-4-novembre-2022-2/" rel="noreferrer" target="_blank">Journée d'étude en collaboration avec le CESR de Tours, 16 novembre 2022</a> : Usages de l'anonymat à la Renaissance : controverse &amp; propagande confessionnelles</li>
                        </ul>
                        
                        <img src="resources/images/static/banquet.webp" width="250" class="img_center"/>
                    </main>
                    
                    <footer data-template="templates:include" data-template-path="templates/footer.html"/>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
    
</html>