<html lang="fr">
    
    <head>
        <meta charset="utf-8"/>
        <title>Équipe • SETAF</title>
        <meta name="description" content="Présentation de l'équipe du projet SETAF"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="resources/images/favicons/apple-touch-icon.png"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-16x16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-32x32.png" sizes="32x32"/>
        <link rel="manifest" href="resources/images/favicons/site.webmanifest"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicons/favicon.ico"/>
        <!-- CSS & scripts -->
        <link rel="stylesheet" href="resources/css/setaf_theme.css"/>
        <link rel="stylesheet" href="resources/css/static.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    </head>
    
    <body data-template="pages:parse-params">
        <pb-page data-template="pages:pb-page" api-version="1.0" unresolved="unresolved" theme="resources/css/components.css" locales="resources/i18n/{{ns}}/{{lng}}.json">
            <app-drawer-layout force-narrow="force-narrow">
                
                <app-drawer slot="drawer" align="right">
                    <div class="drawer-content">
                        <pb-media-query query="(max-width: 1023px)">
                            <div data-template="lib:include" data-template-path="templates/menu-drawer.html"/>
                        </pb-media-query>
                    </div>
                </app-drawer>
                
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                    </app-header>
                    
                    <section class="breadcrumb_corpus">
                        <span class="breadcrumb"><a href="accueil.html"><pb-i18n key="pages.home">Accueil</pb-i18n></a> &gt; Équipe</span>
                    </section>
                    
                    <main class="content-static-view">
                        <h1>Équipe</h1>
                        <div class="photo-lignes">
                            <div>
                                <img class="photo" src="resources/images/photos_equipe/pob.png" alt="Photo de Pierre-Olivier Beaulnes" height="170px"/>
                                <p><a href="https://www.unige.ch/setaf/equipe/pierre-olivier-beaulnes" target="_blank" class="link">Pierre-Olivier Beaulnes</a> <br/>Auxiliaire de recherche</p>
                            </div>
                            
                            <div>
                                <img class="photo" src="resources/images/photos_equipe/md.jpg" alt="Photo de Mylène Dejouy" height="170px"/>
                                <p><a href="https://www.unige.ch/setaf/equipe/mylene-dejouy-1" target="_blank" class="link">Mylène Dejouy</a> <br/>Auxiliaire de recherche</p>
                            </div>
                            
                            <div>
                                <img class="photo" src="resources/images/photos_equipe/sg.jpg" alt="Photo de Simon Gabay" height="170px"/>
                                <p><a href="https://www.unige.ch/setaf/equipe/simon-gabay" target="_blank" class="link">Simon Gabay</a> <br/>Partenaire scientifique</p>
                            </div>
                            
                            <div>
                                <img class="photo" src="resources/images/photos_equipe/gg.jpg" alt="Photo de Geneviève Gross" height="170px"/>
                                <p><a href="https://www.unige.ch/setaf/equipe/genevieve-gross" target="_blank" class="link">Geneviève Gross</a> <br/>Collaboratrice scientifique</p>
                            </div>
                            
                            <div>
                                <img class="photo" src="resources/images/photos_equipe/el.jpg" alt="Photo de Elina Leblanc" height="170px"/>
                                <p><a href="https://www.unige.ch/setaf/equipe/elina-leblanc" target="_blank" class="link">Elina Leblanc</a> <br/>Développeuse du site</p>
                            </div>
                            
                            <div>
                                <img class="photo" src="resources/images/photos_equipe/amo.jpg" alt="Photo de Aurélia Marques Oliviera" height="170px"/>
                                <p><a href="https://www.unige.ch/setaf/equipe/aurelia-marques-oliveira" target="_blank" class="link">Aurélia Marques Oliviera</a> <br/>Auxiliaire de recherche</p>
                            </div>
                            
                            <div>
                                <img class="photo" src="resources/images/photos_equipe/lp.jpg" alt="Photo de Ludivine Pernollet" height="170px"/>
                                <p><a href="https://www.unige.ch/setaf/equipe/ludivine-pernollet" target="_blank" class="link">Ludivine Pernollet</a> <br/>Auxiliaire de recherche</p>
                            </div>
                            
                            <div>
                                <img class="photo" src="resources/images/photos_equipe/br.jpg" alt="Photo de Brigitte Roux" height="170px"/>
                                <p><a href="https://www.unige.ch/setaf/equipe/brigitte-roux" target="_blank" class="link">Brigitte Roux</a> <br/>Collaboratrice scientifique</p>
                            </div>
                            
                            <div>
                                <img class="photo" src="resources/images/photos_equipe/dsc.jpg" alt="Photo de Daniela Solfaroli Camillocci" height="170px"/>
                                <p><a href="https://www.unige.ch/setaf/equipe/daniela-solfaroli-camillocci" target="_blank" class="link">Daniela Solfaroli Camillocci</a> <br/>Directrice du projet</p>
                            </div>
                            
                            <div>
                                <img class="photo" src="resources/images/photos_equipe/ss.jpg" alt="Photo de Sonia Solfrini" height="170px"/>
                                <p><a href="https://www.unige.ch/setaf/equipe/sonia-solfrini" target="_blank" class="link">Sonia Solfrini</a> <br/>Doctorante</p>
                            </div>
                            
                            <div>
                                <img class="photo" src="resources/images/photos_equipe/ns.jpg" alt="Photo de Nathalie Szczech" height="170px"/>
                                <p><a href="https://www.unige.ch/setaf/equipe/nathalie-szczech" target="_blank" class="link">Nathalie Szczech</a> <br/>Chercheuse associée</p>
                            </div>
                        </div>
                    </main>
                    
                    <footer data-template="templates:include" data-template-path="templates/footer.html"/>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
    
</html>