<footer data-template="pages:parse-params">
    <p class="footer__links">
        <a href="https://data.snf.ch/grants/grant/205056" target="_blank" aria-label="Open a new tab with the SNF website" tabindex="-1">
            <img src="resources/images/logos/SNF_logo_standard_web_sw_pos_f.png" alt="White and black logo of the SNF" height="30" loading="lazy"/>
        </a>
        <a href="https://www.unige.ch/ihr/fr/accueil" target="_blank" aria-label="Open a new tab with the IHR website" tabindex="-1">
            <img src="resources/images/logos/ihreformation_noir.png" alt="White and black logo of the IHR" height="50" loading="lazy"/>
        </a>
        
        <a href="${app}/static/mentions-legales"><pb-i18n key="pages.about-terms">Mentions légales</pb-i18n></a>
        <a href="${app}/plan-site.html"><pb-i18n key="pages.site-map">Plan du site</pb-i18n></a>
        <a href="${app}/contacts.html">Contacts</a>
        
        <a href="https://www.e-editiones.org" target="_blank" aria-label="Open a new tab with the e-editiones.org website" tabindex="-1">
            <img src="resources/images/logos/powered-by-editiones-color.svg" alt="Logo of e-editiones.org" height="40" loading="lazy"/>
        </a>
        <a href="https://creativecommons.org/licenses/by/4.0" target="_blank" aria-label="Open a new tab with information the CC-BY licence" tabindex="-1">
            <img src="resources/images/logos/cc_by.png" alt="Logo of the CC-BY licence" height="30" loading="lazy"/>
        </a>
        <a href="https://github.com/SETAFDH" target="_blank" aria-label="Open a new tab with the project's GitHub" tabindex="-1">
            <img src="resources/images/logos/github-mark.png" alt="Black and white logo of GitHub" height="40" loading="lazy"/>
        </a>
    </p>
</footer>