<html>
    
    <head>
        <meta charset="utf-8"/>
        <title>Index des gravures • SETAF</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>
        <link rel="stylesheet" href="resources/css/setaf_theme.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    </head>
        
        <body>
            <pb-page data-template="pages:pb-page" api-version="1.0" unresolved="unresolved" theme="resources/css/components.css" locales="resources/i18n/{{ns}}/{{lng}}.json">
                <app-drawer-layout force-narrow="force-narrow">
                    <app-drawer slot="drawer" align="right">
                        <div class="drawer-content">
                            <pb-media-query query="(max-width: 1023px)">
                                <div data-template="lib:include" data-template-path="templates/menu-drawer.html"/>
                            </pb-media-query>
                        </div>
                    </app-drawer>
                    <app-header-layout>
                        <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                            <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                        </app-header>
                        
                        <main class="index-gravures">
                            <h1>Gravures des Faits</h1>
                            
                            <div class="index-gravures__row">
                                <!-- Ligne 1 -->
                                <div class="index-gravures__column">
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518832/110,510,1140,1395/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518839/420,205,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <a href="../setaf/gravures/antithese_1a.xml">
                                            <div class="index-gravures__overlay">
                                                <div class="index-gravures__text">1a - Jésus refuse la couronne du royaume</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518841/510,200,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <a href="../setaf/gravures/antithese_1b.xml">
                                            <div class="index-gravures__overlay">
                                                <div class="index-gravures__text">1b - Le pape interdit l'entrée de la ville à l'empereur</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518843/475,220,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Ligne 2 -->
                                <div class="index-gravures__column">
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518845/490,230,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518847/425,215,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518849/440,210,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518851/440,210,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Ligne 3 -->
                                <div class="index-gravures__column">
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518853/400,215,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518855/410,215,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518857/435,210,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518859/435,220,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Ligne 4 -->
                                <div class="index-gravures__column">
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518861/410,220,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518863/450,220,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518865/465,220,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518867/705,210,890,1170/full/0/default.jpg" width="240" height="294"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Ligne 5 -->
                                <div class="index-gravures__column">
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518869/410,220,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518871/410,220,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518873/440,220,1190,1420/full/0/default.jpg" width="240" height="293"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518875/420,220,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Ligne 6 -->
                                <div class="index-gravures__column">
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518877/420,220,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518879/435,220,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518881/435,220,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518883/420,220,1160,1420/full/0/default.jpg" width="240" height="294"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Ligne 7 -->
                                <div class="index-gravures__column">
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518885/435,220,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518887/445,230,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518889/445,230,1160,1420/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518891/440,195,1160,1420/full/0/default.jpg" width="240" height="294"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Ligne 8 -->
                                <div class="index-gravures__column">
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518893/440,210,1160,1420/full/0/default.jpg" width="240" height="314"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518895/440,210,950,1240/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518905/440,230,900,1180/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518917/440,230,1190,1400/full/0/default.jpg" width="240" height="314"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                    <div class="index-gravures__container">
                                        <img src="https://www.e-rara.ch/i3f/v20/4518919/440,230,1190,1450/full/0/default.jpg" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">Titre</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                        <footer data-template="templates:include" data-template-path="templates/footer.html"/>
                    </app-header-layout>
                </app-drawer-layout>
            </pb-page>
            <div class="splash"/>
        </body> 
</html>