<html lang="fr">
    
    <head>
        <meta charset="utf-8"/>
        <title>Index des gravures • SETAF</title>
        <meta name="description" content="Liste des gravures employées pour illustrer Les Faits de Jésus-Christ et du pape"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <meta http-equiv="cache-control" content="private"/>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="resources/images/favicons/apple-touch-icon.png"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-16x16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-32x32.png" sizes="32x32"/>
        <link rel="manifest" href="resources/images/favicons/site.webmanifest"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicons/favicon.ico"/>
        <!-- CSS & scripts -->
        <link rel="stylesheet" href="resources/css/setaf_theme.css"/>
        <link rel="stylesheet" href="resources/css/engravings.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    </head>
    
    <body>
        <pb-page data-template="pages:pb-page" api-version="1.0" unresolved="unresolved" theme="resources/css/components.css" locales="resources/i18n/{{ns}}/{{lng}}.json">
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer slot="drawer" align="right">
                    <div class="drawer-content">
                        <pb-media-query query="(max-width: 1023px)">
                            <div data-template="lib:include" data-template-path="templates/menu-drawer.html"/>
                        </pb-media-query>
                    </div>
                </app-drawer>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                    </app-header>
                    
                    <span class="breadcrumb" data-template="pages:parse-params"><a href="${app}/accueil.html"><pb-i18n key="pages.home">Accueil</pb-i18n></a> &gt; <pb-i18n key="pages.engravings">Gravures</pb-i18n></span>
                    
                    <main class="index-gravures" data-template="pages:parse-params">
                        <h1><pb-i18n key="pages.engravings-title">Gravures des Faits</pb-i18n></h1>
                        
                        <div class="index-gravures__row">
                            <div class="index-gravures__column">
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/pageTitre.webp" alt="Le Christ à la colonne entre Pierre et le pape" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">Titre</div>
                                    </div>
                                </div>
                                
                                <div class="index-gravures__container">
                                    <a href="${app}/gravures/antithese_1a.xml">
                                        <img src="resources/images/gravures/antithese1a.webp" alt="Jésus refuse la couronne du royaume" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">1a - Jésus refuse la couronne du royaume</div>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="index-gravures__container">
                                    <a href="${app}/gravures/antithese_1b.xml">
                                        <img src="resources/images/gravures/antithese1b.webp" alt="Le pape interdit l'entrée de la ville à l'empereur" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">1b - Le pape interdit l'entrée de la ville à l'empereur</div>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="index-gravures__container">
                                    <a href="${app}/gravures/antithese_2a.xml">
                                        <img src="resources/images/gravures/antithese2a.webp" alt="Le couronnement d'épines" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">2a - Le couronnement d'épines</div>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="index-gravures__container">
                                    <a href="${app}/gravures/antithese_2b.xml">
                                        <img src="resources/images/gravures/antithese2b.webp" alt="Le couronnement du pape" width="240" height="auto"/>
                                        <div class="index-gravures__overlay">
                                            <div class="index-gravures__text">2b - Le couronnement du pape</div>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese3a.webp" alt="Le lavement des pieds" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">3a - Le lavement des pieds</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese3b.webp" alt="Le baiser de la pantoufle" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">3b - Le baiser de la pantoufle</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese4a.webp" alt="Le tribut de saint Pierre" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">4a - Le tribut de saint Pierre</div>
                                    </div>
                                </div>
                                
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese4b.webp" alt="Le pape fulmine contre l'empereur" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">4b - Le pape fulmine contre l'empereur</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese5a.webp" alt="Le Christ guérit les malades" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">5a - Le Christ guérit les malades</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese5b.webp" alt="Le pape assiste à un tournoi" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">5b - Le pape assiste à un tournoi</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese6a.webp" alt="Le portement de croix" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">6a - Le portement de croix</div>
                                    </div>
                                </div>
                            
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese6b.webp" alt="Le pape est porté dans sa chaise" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">6b - Le pape est porté dans sa chaise</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese7a.webp" alt="La prédication du Christ" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">7a - La prédication du Christ</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese7b.webp" alt="Le festin du pape" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">7b - Le festin du pape</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese8a.webp" alt="L'adoration de l'Enfant" width="240" height="294"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">8a - L'adoration de l'Enfant</div>
                                    </div>
                                </div>
                            
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese8b.webp" alt="Le pape, chef de guerre" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">8b - Le pape, chef de guerre</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese9a.webp" alt="L'entrée à Jérusalem" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">9a - L'entrée à Jérusalem</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese9b.webp" alt="La chevauchée du pape vers l'enfer" width="240" height="293"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">9b - La chevauchée du pape vers l'enfer</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese10a.webp" alt="Le Christ et ses disciples se défont de leurs biens" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">10a - Le Christ et ses disciples se défont de leurs biens</div>
                                    </div>
                                </div>
                                
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese10b.webp" alt="Le pape exhibe ses biens" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">10b - Le pape exhibe ses biens</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese11a.webp" alt="Le Christ dispute avec les docteurs de la Loi" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">11a - Le Christ dispute avec les docteurs de la Loi</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese11b.webp" alt="Le pape impose sa loi" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">11b - Le pape impose sa loi</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese12a.webp" alt="Le Christ chasse les marchands du temple" width="240" height="294"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">12a - Le Christ chasse les marchands du temple</div>
                                    </div>
                                </div>
                                
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese12b.webp" alt="Le pape vend des indulgences" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">12b - Le pape vend des indulgences</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese13a.webp" alt="Le Christ et ses disciples se défont de leurs biens" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">13a - Le Christ et ses disciples se défont de leurs biens</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese13b.webp" alt="Le pape amasse des offrandes" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">13b - Le pape amasse des offrandes</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese14a.webp" alt="Le Christ, Bon Pasteur" width="240" height="294"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">14a - Le Christ, Bon Pasteur</div>
                                    </div>
                                </div>
                                
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese14b.webp" alt="Le pape-loup" width="240" height="314"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">14b - Le pape-loup</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese15a.webp" alt="La cène" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">15a - La cène</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese15b.webp" alt="La messe" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">15b - La messe</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese16a.webp" alt="L'Ascension" width="240" height="314"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">16a - L'Ascension</div>
                                    </div>
                                </div>
                                <div class="index-gravures__container">
                                    <img src="resources/images/gravures/antithese16b.webp" alt="La chute du pape en enfer" width="240" height="auto"/>
                                    <div class="index-gravures__overlay">
                                        <div class="index-gravures__text">16b - La chute du pape en enfer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                    <footer data-template="templates:include" data-template-path="templates/footer.html"/>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body> 
</html>