<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <title>Print preview • SETAF</title>
    <meta name="description" content="Prévisualisation de l'édition avant son enregistrement en PDF et son impression"/>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="resources/images/favicons/apple-touch-icon.png"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-16x16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-32x32.png" sizes="32x32"/>
    <link rel="manifest" href="resources/images/favicons/site.webmanifest"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicons/favicon.ico"/>
    <!-- CSS & scripts -->
    <link rel="stylesheet" href="resources/css/setaf_theme.css"/>
    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
</head>

<body>
    <pb-page data-template="pages:pb-page" unresolved="unresolved">
        <pb-document id="document1" data-template="pages:pb-document"/>
        <aside>
            <paper-fab icon="icons:close" id="close-action"/>
            <paper-fab icon="icons:print" id="print-action"/>
            <paper-fab icon="icons:visibility" active="active" toggles="toggles" id="preview-toggle" title="Show raw HTML instead of preview"/>
            <paper-fab icon="icons:content-copy" id="copy-action" title="Copy URL to download HTML for use with external tools"/>
        </aside>
        <pb-progress subscribe="preview"/>
        <main>
            <pb-print-preview src="document1" styles="resources/fonts/font.css,resources/css/print.css" emit="preview"/>
        </main>
    </pb-page>
    <div class="splash"/>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const preview = document.querySelector('pb-print-preview');
            const btn = document.getElementById('print-action');
            btn.addEventListener('click', function() {
                preview.print();
            });

            const closeBtn = document.getElementById('close-action');
            closeBtn.addEventListener('click', function() {
                window.close();
            });

            const previewToggle = document.getElementById('preview-toggle');
            previewToggle.addEventListener('active-changed', function(ev) {
                const value = ev.detail.value;
                if (value) {
                    previewToggle.icon = 'icons:visibility';
                } else {
                    previewToggle.icon = 'icons:visibility-off';
                }
                preview.raw = !value;
                preview.refresh();
            });

            const copyBtn = document.getElementById('copy-action');
            copyBtn.addEventListener('click', function() {
                const url = new URL(preview.getAttribute('url'), location.href);
                console.log('Copying URL: %s', url.toString())
                navigator.clipboard.writeText(url.toString());
            });
        });
    </script>
</body>

</html>