<html lang="fr">
    
    <head>
        <meta charset="utf-8"/>
        <title>Publications • SETAF</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <meta name="description" content="Liste des publications produites par les membres de l'équipe"/>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="resources/images/favicons/apple-touch-icon.png"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-16x16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-32x32.png" sizes="32x32"/>
        <link rel="manifest" href="resources/images/favicons/site.webmanifest"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicons/favicon.ico"/>
        <!-- CSS & scripts -->
        <link rel="stylesheet" href="resources/css/setaf_theme.css"/>
        <link rel="stylesheet" href="resources/css/static.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    </head>
    
    <body data-template="pages:parse-params">
        <pb-page data-template="pages:pb-page" api-version="1.0" unresolved="unresolved" theme="resources/css/components.css" locales="resources/i18n/{{ns}}/{{lng}}.json">
            <app-drawer-layout force-narrow="force-narrow">
                
                <app-drawer slot="drawer" align="right">
                    <div class="drawer-content">
                        <pb-media-query query="(max-width: 1023px)">
                            <div data-template="lib:include" data-template-path="templates/menu-drawer.html"/>
                        </pb-media-query>
                    </div>
                </app-drawer>
                
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                    </app-header>
                    
                    <section class="breadcrumb_corpus">
                        <span class="breadcrumb"><a href="${app}/accueil.html"><pb-i18n key="pages.home">Accueil</pb-i18n></a> &gt; <pb-i18n key="pages.publications">Publications et communications</pb-i18n></span>
                    </section>
                    
                    <main class="main-static content-static-view content-publications">
                        <h1><pb-i18n key="pages.publications">Publications et communications</pb-i18n></h1>
                        
                        <!-- Articles -->                        
                        <div class="justify-content">
                            <h2><pb-i18n key="pages.articles">Articles et chapitres d’ouvrage</pb-i18n></h2>
                            
                            <div>
                                <h3>❧ 2026</h3>
                                <img src="resources/images/static/femmes.png" width="190" class="img_right"/>
                                <ul>
                                    <li>Brigitte Roux, « <a href="https://journals.openedition.org/assr/84964" target="_blank" rel="noreferrer">La double page illustrée, un dispositif de combat ?</a> », <i>Archives de sciences sociales des religions</i>, n<sup>o</sup> 213, 2026, p. 25-47.</li>
                                    <li>Sonia Solfrini, Simon Gabay, « <a href="https://anthology.ach.org/volumes/vol0004/marot-malingre-ou-beaulieu-sur-l-attribution-de-la-chanson/" target="_blank" rel="noreferrer">Marot, Malingre ou Beaulieu ? Sur l’attribution de la Chanson spirituelle (1545)</a> », <i>Anthology of Computers and the Humanities. Humanistica 2026</i>, vol. 4, Actes du colloque Humanistica 2026 (Paris, France), organisé par l’Association francophone des humanités numériques, 2026, p. 44-54.</li>
                                    <li>Nathalie Szczech, « <a href="https://journals.openedition.org/assr/84420" target="_blank" rel="noreferrer">Un face-à-face imprimé : la Bildtnüs eins neuwen Propheten de Calvin (1539) dans le paysage polémique de la fin des années 1530</a> », <i>Archives de sciences sociales des religions</i>, n<sup>o</sup> 213, 2026, p. 49-76.</li>
                                </ul>
                            </div>
                            
                            <div>
                                <h3>❧ 2025</h3>
                                <ul>
                                    <li>Sonia Solfrini, Mylène Dejouy, Aurélia Marques Oliveira, Pierre-Olivier Beaulnes, « <a href="https://aclanthology.org/2025.jeptalnrecital-recital.13/" target="_blank" rel="noreferrer">Normaliser le moyen français : du graphématique au semi-diplomatique</a> », <i>ACL Anthology. RJCRI-RECITAL 2025</i>, Actes des 18e Rencontres Jeunes Chercheurs en Recherche d'Information et du 27ème Rencontre des Étudiants Chercheurs en Informatique pour le Traitement Automatique des Langues (Marseille, France), organisé par les associations ARIA et ATALA, 2025, p. 239-252.</li>
                                </ul>
                            </div>
                            
                            <div>
                                <h3>❧ 2024</h3>
                                <ul>
                                    <li>Daniela Solfaroli Camillocci, « <a href="https://archive-ouverte.unige.ch/unige:176594" target="_blank" rel="noreferrer">Pratiche testuali e oralità: il "gruppo di Neuchâtel" e la diffusione della Riforma nei territori romandi</a> », in S. Peyronel Rambaldi (dir.), <i>Storia dei valdesi 2: diventare riformati (1532-1689)</i>, Torino, Claudiana, 2024, p. 49-60.</li>
                                    <li>Sonia Solfrini, Simon Gabay, Maxime Humeau, Ariane Pinche, Pierre-Olivier Beaulnes, Aurélia Marques Oliveira, Geneviève Gross, Daniela Solfaroli Camillocci, « <a href="https://hal.science/hal-04555002v1" target="_blank" rel="noreferrer">Océriser les imprimés du XVI<sup>e</sup> siècle en langue française : le cas d’un corpus romand en caractères gothiques</a> », <i>Humanistica 2024</i>, Actes du colloque Humanistica 2024 (Meknès, Maroc), organisé par l’Association francophone des humanités numériques, coll. « OCR », 2024.</li>
                                    <li>Nathalie Szczech, « <a href="https://classiques-garnier.com/albineana-2024-cahiers-d-aubigne-n-36-vocations-d-enfants-et-trajectoires-familiales-1550-1630-famille-symbolique-conversion-et-vocation-reformatrice-dans-l-epitre-a-tous-seigneurs-et-peuples-et-pasteurs-de-guillaume-farel-1548.html" target="_blank" rel="noreferrer">Famille symbolique, conversion et vocation réformatrice dans l’épître "A tous seigneurs, peuples et pasteurs" de Guillaume Farel (1548 ?)</a> », <i>Albineana</i>, n<sup>o</sup> 36, 2024, p. 187-220.</li>
                                    <li>Nathalie Szczech, « <a href="https://books.openedition.org/septentrion/170453" target="_blank" rel="noreferrer">Former pour réformer. Recrutement, préparation et encadrement des premiers prédicateurs de la Réforme francophone (Aigle, Suisse romande, 1526-1530)</a> », in M. Deschamp, J. Léonard et S. Simiz (dir.), <i>La Fabrique du clerc. Formation, vocation, profession dans les christianismes (XIII<sup>e</sup>-XVIII<sup>e</sup> s.)</i>, Rennes, Presses universitaires de Rennes, 2024, p. 143-162.</li>
                                </ul>
                            </div>
                            
                            <div>
                                <h3>❧ 2023</h3>
                                <ul>
                                    <li>Sonia Solfrini, Geneviève Gross, Brigitte Roux, Nathalie Szczech, Pierre-Olivier Beaulnes, Aurélia Marques Oliveira, Daniela Solfaroli Camillocci, « <a href="https://hal.science/hal-04097381v1" target="_blank" rel="noreferrer">Étudier le "groupe de Neuchâtel" : de l’édition des Faits à un corpus numérique de la première Réforme romande</a> », <i>Humanistica 2023</i>, Actes du colloque Humanistica 2023 (Genève, Suisse), organisé par l’Association francophone des humanités numériques, coll. « Posters », 2023.</li>
                                    <li>Nathalie Szczech, « <a href="https://books.openedition.org/larhra/9500" target="_blank" rel="noreferrer">Inter fratres. Les congrégations de prédicants à la genèse de la Réforme (Suisse romande, années 1530)</a> », in J. Léonard et N. Recous (dir.), <i>Un parcours en protestantisme. II. Compagnons de route, numéro spécial de la revue Chrétiens et Sociétés, Documents et Mémoires</i>, n<sup>o</sup> 47, 2023, p. 33-43.</li>
                                </ul>
                            </div>
                            
                            <div>
                                <h3>❧ 2022</h3>
                                <ul>
                                    <li>Nathalie Szczech, « Violences et mobilisation pour l’Évangile à la genèse de la Réforme (Orbe, Ancienne Confédération suisse, 1531), in C. Callard, T. Debbagi Baranova et N. Le Roux (dir.), <i>Un tragique XVI<sup>e</sup> siècle. Mélanges offerts à Denis Crouzet</i>, Ceyzérieu, Champ Vallon, 2022, p. 263-270.</li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- Guides et outils numériques -->
                        <div class="justify-content">
                            <h2><pb-i18n key="pages.tools">Guides et outils numériques</pb-i18n></h2>
                            <ul>
                                <li>Sonia Solfrini, Simon Gabay, « Guide d’encodage XML-TEI du Corpus Réformé Romand (CRR) - Projet FNS SETAF (2022-2027) », à paraître.</li>
                                <li>Sonia Solfrini, Simon Gabay, « <a href="https://zenodo.org/records/15551750" target="_blank" rel="noreferrer">FreEM SemiD norm model, v. 1.0.0, 30 mai 2025</a> », coll. « Zenodo, Language normalisation models », 2025.</li>
                                <li>Sonia Solfrini, Simon Gabay, « <a href="https://zenodo.org/records/10599911" target="_blank" rel="noreferrer">CATMuS Gothic Print, v. 1.0.0, 31 janvier 2024</a> », coll. « Zenodo, OCR models », 2024.</li>
                                <li>Sonia Solfrini, Simon Gabay, Geneviève Gross, Pierre-Olivier Beaulnes, Aurélia Marques Oliveira, Daniela Solfaroli Camillocci, « <a href="https://hal.science/hal-04281804v1" target="_blank" rel="noreferrer">Guide de transcription pour les imprimés français du XVI<sup>e</sup> siècle en caractères gothiques</a> », HAL, document de travail, version A, novembre 2023.</li>
                            </ul>
                        </div>
                        
                        <div class="justify-content">
                            <h2>Communications</h2>
                            
                            <div>
                                <h3>❧ 2026</h3>
                                <ul>
                                    <li>Geneviève Gross, « Investir un héritage : Jean Michel, une pratique éditoriale du remploi en question » (Genève, IHR, 11-13 mars 2026)</li>
                                    <li>Elina Leblanc, « Présentation du site SETAF» (Genève, IHR, 11-13 mars 2026)</li>
                                    <li>Brigitte Roux, « Au jeu des différences : les gravures des <i>Faits de Jésus Christ et du pape</i> » (Paris, École pratiques des hautes études, 22 mai 2026)</li>
                                    <li>Brigitte Roux, « Transfert de gravures : diffusion du programme d’illustrations de l’<i>Antithesis</i> de Simon du Rosier » (Genève, IHR, 11-13 mars 2026)</li>
                                    <li>Daniela Solfaroli Camillocci, « Réorientations textuelles et remplois antagonistes dans la version en français de l’<i>Antithesis</i> de Simon du Rosier, 1560-1600 » (Genève, IHR, 11-13 mars 2026)</li>
                                    <li>Sonia Solfrini, « "Ne chantez point brayant comme noz veaulx" : pratiques et usages des chansons spirituelles (1530-1560) » (Paris, Université Paris Nanterre, 5 février 2026)</li>
                                    <li>Sonia Solfrini, « Des remplois en concurrence : les réécritures spirituelles des chansons de Clément Marot par Matthieu Malingre et Eustorg de Beaulieu » (Genève, IHR, 11-13 mars 2026)</li>
                                    <li>Nathalie Szczech, « “Labor noster”. Traductions, amplifications et réinvestissements dans le manuscrit évangélique français <i>Arsenal, Ms 5096</i> » (Genève, IHR, 11-13 mars 2026)</li>
                                </ul>
                            </div>
                            
                            <div>
                                <h3>❧ 2025</h3>
                                <ul>
                                    <li>Geneviève Gross, « Convoquer le canon : l’argumentaire contre la messe dans les <i>Faits</i> face au "Corpus réformé romand" »  (Genève, IHR, 6-7 février 2025)</li>
                                    <li>Elina Leblanc, « Présentation des premières maquettes du site du projet » (Genève, IHR, 6-7 février 2025)</li>
                                    <li>Brigitte Roux, « Les gravures des <i>Faits de Jésus-Christ et du pape</i> : un recyclage situé » (Genève, IHR, 6-7 février 2025)</li>
                                    <li>Daniela Solfaroli Camillocci, « "Les putains le baisent à la bouche" : dynamiques anticléricales des <i>Faits</i> au prisme du "Corpus réformé romand" » (Genève, IHR, 6-7 février 2025)</li>
                                    <li>Sonia Solfrini et Elina Leblanc, « Un hub pour l’histoire de la Réforme : le site du projet SETAF » (Genève, DH Day de l'Université de Genève, 7 mars 2025)</li>
                                    <li>Sonia Solfrini, « <i>Admonition aux quatre mendians</i> : the Digital Critical Edition of an Unpublished Manuscript by Matthieu Malingre (ca. 1500-1572) » (Tours, CESR de Tours, 28-30 avril 2025)</li>
                                    <li>Sonia Solfrini, « Il trattamento digitale dei testi del Cinquecento in lingua francese: il progetto SETAF » (Verona, Université de Vérone, 24 septembre 2025)</li>
                                    <li>Nathalie Szczech, « Au plus près des Écritures. Les usages de la Bible dans les <i>Faits de Jésus-Christ et du pape</i> » (Genève, IHR, 6-7 février 2025)</li>
                                </ul>
                            </div>
                            
                            <div>
                                <h3>❧ 2024</h3>
                                <ul>
                                    <li>Geneviève Gross et Brigitte Roux, « Vies parallèles au premier temps de la Réforme » (Tours, CESR de Tours, 15 novembre 2024)</li>
                                    <li>Brigitte Roux, « <i>Les Faits de Jésus Christ et du pape</i> : modes de constitution d’un catalogue d’images » (Liège, Université de Liège, 6-7 mai 2024)</li>
                                    <li>Sonia Solfrini, Geneviève Gross et Pierre-Olivier Beaulnes, « Océriser un corpus en caractères gothiques : défis, outils et premiers résultats » (Genève, IHR, 9 février 2024)</li>
                                    <li>Sonia Solfrini, « Définir un corpus de recherche : l’oeuvre du poète réformé Matthieu Malingre » (Genève, DH Day de l'Université de Genève, 7 mars 2024)</li>
                                    <li>Sonia Solfrini, « "Apres celuy Malingre vint en place" : constructions biographiques et historiques dans des vers anonymes » (Tours, CESR de Tours, 15 novembre 2024)</li>
                                    <li>Sonia Solfrini, « Lire de près et de loin grâce au numérique : vers une édition des œuvres de Matthieu Malingre (ca. 1500-1572) » (Genève, PhD Lunch de l'IHR, 2 décembre 2024)</li>
                                </ul>
                            </div>
                            
                            <div>
                                <h3>❧ 2023</h3>
                                <ul>
                                    <li>Geneviève Gross, « <i>La Vérité cachée</i> de Mathieu Malingre et sa circulation dans l’espace romand et francophone à travers ses réimpressions » (Lausanne, Université de Lausanne, 14-15 septembre 2023)</li>
                                </ul>
                            </div>
                            
                            <div>
                                <h3>❧ 2022</h3>
                                <ul>
                                    <li>Geneviève Gross, « Les enjeux de l’investissement auctorial du <i>Summaire</i> de Farel à Genève en 1542 » (Tours, CESR de Tours, 16 novembre 2022)</li>
                                    <li>Geneviève Gross, « <i>Soyons ung</i>. La critique de la messe comme marqueur de la construction communautaire » (Genève, IHR, 8-9 décembre 2022)</li>
                                    <li>Brigitte Roux, « Portraits de groupes dans les gravures du début de la Réforme » (Genève, IHR, 8-9 décembre 2022)</li>
                                    <li>Daniela Solfaroli Camillocci, « "Mettrons Jésus d’un costé […] Et de l’autre le pape" : l’anonymat comme porte-parole dans les <i>Faitz de Jésus Christ et du pape</i>  » (Tours, CESR de Tours, 16 novembre 2022)</li>
                                    <li>Daniela Solfaroli Camillocci, « Tensions mémorielles : les trajectoires des regroupements évangéliques au prisme de la première historiographie réformée » (Genève, IHR, 8-9 décembre 2022)</li>
                                    <li>Nathalie Szczech, « Les usages de l’anonymat dans le corpus imprimé du groupe de Neuchâtel (1533-1536) » (Tours, CESR de Tours, 16 novembre 2022)</li>
                                    <li>Nathalie Szczech, « Les ouvriers de la moisson. Conscience de groupe et action collective chez les prédicateurs du réseau de Guillaume Farel (espace romand, années 1530) » (Genève, IHR, 8-9 décembre 2022)</li>
                                </ul>
                            </div>
                        </div>
                    </main>
                    
                    <footer data-template="templates:include" data-template-path="templates/footer.html"/>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
    
</html>