<html lang="fr">
    
    <head>
        <meta charset="utf-8"/>
        <title>Réseau • SETAF</title>
        <meta name="description" content="Présentation des partenaires scientifiques et institutionnels du projet"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="resources/images/favicons/apple-touch-icon.png"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-16x16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicons/favicon-32x32.png" sizes="32x32"/>
        <link rel="manifest" href="resources/images/favicons/site.webmanifest"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicons/favicon.ico"/>
        <!-- CSS & scripts -->
        <link rel="stylesheet" href="resources/css/setaf_theme.css"/>
        <link rel="stylesheet" href="resources/css/static.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
    </head>
    
    <body>
        <pb-page data-template="pages:pb-page" api-version="1.0" unresolved="unresolved" theme="resources/css/components.css" locales="resources/i18n/{{ns}}/{{lng}}.json">
            <app-drawer-layout force-narrow="force-narrow">
                
                <app-drawer slot="drawer" align="right">
                    <div class="drawer-content">
                        <pb-media-query query="(max-width: 1023px)">
                            <div data-template="lib:include" data-template-path="templates/menu-drawer.html"/>
                        </pb-media-query>
                    </div>
                </app-drawer>
                
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                    </app-header>
                    
                    <section class="breadcrumb_corpus">
                        <span class="breadcrumb"><a href="${app}/accueil.html"><pb-i18n key="pages.home">Accueil</pb-i18n></a> &gt; <pb-i18n key="pages.project-network">Réseau</pb-i18n></span>
                    </section>
                    
                    <main class="main-static content-static-view">
                        <h1><pb-i18n key="pages.project-network">Réseau</pb-i18n></h1>
                        
                        <div>
                            <h2>Partenaires institutionnels</h2>
                            
                            <p>Partenariat local avec la <a href="https://www.unige.ch/lettres/humanites-numeriques/accueil" rel="noreferrer" target="_blank">chaire des Humanités Numériques (DH-UNIGE)</a> :</p>
                            <ul>
                                <li><a href="https://www.unige.ch/lettres/humanites-numeriques/equipe/collaborateurs/prof-beatrice-joyeux-prunel" rel="noreferrer" target="_blank">Béatrice Joyeux-Prunel</a>, professeure ordinaire en Humanités Numériques (DH-UNIGE) ;</li>
                                <li><a href="https://www.unige.ch/lettres/humanites-numeriques/equipe/collaborateurs/dr-simon-gabay" rel="noreferrer" target="_blank">Simon Gabay</a>, maître-assistant en Humanités Numériques (DH-UNIGE).</li>
                            </ul>
                            
                            <p>Partenariat international avec les <a href="https://www.bvh.univ-tours.fr/" rel="noreferrer" target="_blank">Bibliothèques Virtuelles Humanistes (BVH-CESR)</a> :</p>
                            <ul>
                                <li><a href="https://cesr.cnrs.fr/membre/lastraioli-chiara/" rel="noreferrer" target="_blank">Chiara Lastraioli</a>, professeure ordinaire et responsable du programme BVH-CESR à Tours.</li>
                            </ul>
                        </div>
                        
                        <div>
                            <h2>Ont contribué aux événements du projet</h2>
                            <ul>
                                <li><a href="https://ihrim.ens-lyon.fr/auteur/garnier-isabelle" rel="noreferrer" target="_blank">Isabelle Garnier</a> (Université Jean Moulin - Lyon 3) </li>
                                <li><a href="http://crehs.univ-artois.fr/equipe/enseignant-e-s-chercheurs-euses-et-doctorant-e-s/thierry-amalou" rel="noreferrer" target="_blank">Thierry Amalou</a> (Université d’Artois)</li>
                                <li><a href="https://ihrim.ens-lyon.fr/auteur/rajchenbach-elise" rel="noreferrer" target="_blank">Élise Rajchenbach</a> (Université Jean-Monnet de Saint-Étienne)</li>
                                <li><a href="https://www.univ-orleans.fr/fr/crjp/corinne-leveleux-teixeira" rel="noreferrer" target="_blank">Corinne Leveleux-Teixeira</a> (Université d’Orléans)</li>
                                <li><a href="https://www.enssib.fr/personne/walsby-malcolm" rel="noreferrer" target="_blank">Malcolm Walsby</a> (Enssib-Lyon)</li>
                                <li><a href="https://www.unifr.ch/art/fr/departement/equipe/jeremie-koering.html" rel="noreferrer" target="_blank">Jérémie Koering</a> (Université de Fribourg)</li>
                                <li><a href="https://www.unige.ch/lettres/framo/enseignants/cer/meli" rel="noreferrer" target="_blank">Cinthia Meli</a> (UNIGE)</li>
                                <li><a href="https://criham.labo.univ-poitiers.fr/membres/estelle-leutrat/" rel="noreferrer" target="_blank">Estelle Leutrat</a> (Université de Poitiers)</li>
                                <li><a href="https://criham.labo.univ-poitiers.fr/membres/estelle-leutrat/" rel="noreferrer" target="_blank">Marion Deschamp</a> (Université de Lorraine)</li>
                            </ul>
                        </div>
                    </main>
                    <footer data-template="templates:include" data-template-path="templates/footer.html"/>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
    
</html>